@model ProductModel
@{
    ViewData["Title"] = " Cập nhật sản phẩm";
}
<div class="p-5" style="width:1720px">
    <a asp-action="Index">
        <i class="fa-solid fa-arrow-left"></i>
        <span>Trở về</span>
    </a>
    <h4>Cập nhật Sản Phẩm</h4>
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label>Tên sản phẩm</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Giá sản phẩm</label>
            <input asp-for="Price" pattern="[0-9.,]+" class="form-control" />
            <span id="price-convert"></span>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Phần % giảm giá</label>
            <input asp-for="DiscountPercentage" class="form-control" />
            <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Chi tiết</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Danh mục</label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
                <option>--Chọn danh mục--</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Hãng</label>
            <select asp-for="BrandId" class="form-control" asp-items="ViewBag.Brands">
                <option>--Chọn hãng--</option>
            </select>
            <span asp-validation-for="BrandId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Hình ảnh sản phẩm</label>
            <input asp-for="ImageUploads" type="file" class="form-control" multiple onchange="previewImages(event)" />
            <span asp-validation-for="ImageUploads" class="text-danger"></span>
               <div style="display: flex">
                <div id="existingImage" style="display:flex">
                    @if (Model.Images != null && Model.Images.Any())
                    {
                        foreach (var image in Model.Images)
                        {
                            <div style="position: relative; width: 200px; height: 152px; margin-right: 40px;">
                                <img src="@Url.Content("~/products/" + image)" style="width: 200px; height: 112px; object-fit: cover; margin:20px" />
                                <a asp-action="DeleteImage" asp-route-brandId="@Model.Id" style="position: absolute; top: 27px; right: -16px; background-color: rgba(255, 255, 255, 0.7); border-radius: 50%; padding: 5px; cursor: pointer; z-index: 10;">
                                    <i class="fa-solid fa-trash" style="color: #ff4d4f; font-size: 16px;"></i>
                                </a>
                            </div>
                        }
                    }
                </div>
                <div id="image-preview" style="width: 100%; height: 100%; object-fit: cover; display: flex"></div>
        </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Cập nhật</button>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        const previewImages = (event) => {
            const imagePreview = document.getElementById("image-preview");
            imagePreview.innerHTML = ""; 

            const files = event.target.files;

            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const reader = new FileReader();

                reader.onload = function (e) {
                    const imgContainer = document.createElement("div");
                    imgContainer.classList.add("image-container");

                    const img = document.createElement("img");
                    img.src = e.target.result;
                    img.style.maxWidth = '200px';
                    img.style.maxHeight = '200px';
                    img.style.objectFit = 'cover';
                    img.style.margin = '20px';

                    imgContainer.appendChild(img);
                    imagePreview.appendChild(imgContainer);
                };

                reader.readAsDataURL(file);
            }
        };
    </script>
   
}
