@model IEnumerable<ProductModel>
@{
    ViewData["Title"] = "Danh sách sản phẩm";
}
<div class="p-5" style="width:1720px">
    <h3>Danh sách sản phẩm</h3>
    <a asp-action="Create" asp-controller="Product">Thêm sản phẩm</a>
    <table class="table" id="mytable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Đã bán </th>
                <th scope="col">Chi tiết</th>
                <th scope="col">Giá</th>
                <th scope="col">Ảnh sản phẩm</th>
                <th scope="col">Danh mục sản phẩm</th>
                <th scope="col">Hãng</th>
                <th scope="col">Hành động</th>
            </tr>
        </thead>
        <tbody>


        </tbody>
    </table>

</div>