@{
    ViewData["title"] = "TechViet-Nơi ươm mầm công nghệ Việt";
}
<div>
    <div class="category-bestsale">
        <div class="category-title">
            <span>Danh mục nổi bật</span>
        </div>
        <div class="list-category">
            <div>
                <a href="#">

                    <div class="img-div">
                        <img style="width: 100%; height: 56px;object-fit: cover;" src="https://lh3.googleusercontent.com/7ltR_x7umrC6a4IYEKTvsQXLAF5mQnwQhU-ClYdGyGoAqaB_zXwtn145dYrep47ZAoF8IJlz4yocnYC9dEZWPH618r4SFxiJ=rw" alt="Alternate Text" />
                    </div>
                    <div>
                        <span>Laptop</span>
                    </div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="img-div">
                        <img style="width: 100%; height: 56px;object-fit: cover;" src="https://lh3.googleusercontent.com/7ltR_x7umrC6a4IYEKTvsQXLAF5mQnwQhU-ClYdGyGoAqaB_zXwtn145dYrep47ZAoF8IJlz4yocnYC9dEZWPH618r4SFxiJ=rw" alt="Alternate Text" />
                    </div>
                    <div>
                        <span>Laptop</span>
                    </div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="img-div">
                        <img style="width: 100%; height: 56px;object-fit: cover;" src="https://lh3.googleusercontent.com/7ltR_x7umrC6a4IYEKTvsQXLAF5mQnwQhU-ClYdGyGoAqaB_zXwtn145dYrep47ZAoF8IJlz4yocnYC9dEZWPH618r4SFxiJ=rw" alt="Alternate Text" />
                    </div>
                    <div>
                        <span>Laptop</span>
                    </div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="img-div">
                        <img style="width: 100%; height: 56px;object-fit: cover;" src="https://lh3.googleusercontent.com/7ltR_x7umrC6a4IYEKTvsQXLAF5mQnwQhU-ClYdGyGoAqaB_zXwtn145dYrep47ZAoF8IJlz4yocnYC9dEZWPH618r4SFxiJ=rw" alt="Alternate Text" />
                    </div>
                    <div>
                        <span>Laptop</span>
                    </div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="img-div">
                        <img style="width: 100%; height: 56px;object-fit: cover;" src="https://lh3.googleusercontent.com/7ltR_x7umrC6a4IYEKTvsQXLAF5mQnwQhU-ClYdGyGoAqaB_zXwtn145dYrep47ZAoF8IJlz4yocnYC9dEZWPH618r4SFxiJ=rw" alt="Alternate Text" />
                    </div>
                    <div>
                        <span>Laptop</span>
                    </div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="img-div">
                        <img style="width: 100%; height: 56px;object-fit: cover;" src="https://lh3.googleusercontent.com/7ltR_x7umrC6a4IYEKTvsQXLAF5mQnwQhU-ClYdGyGoAqaB_zXwtn145dYrep47ZAoF8IJlz4yocnYC9dEZWPH618r4SFxiJ=rw" alt="Alternate Text" />
                    </div>
                    <div>
                        <span>Laptop</span>
                    </div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="img-div">
                        <img style="width: 100%; height: 56px;object-fit: cover;" src="https://lh3.googleusercontent.com/7ltR_x7umrC6a4IYEKTvsQXLAF5mQnwQhU-ClYdGyGoAqaB_zXwtn145dYrep47ZAoF8IJlz4yocnYC9dEZWPH618r4SFxiJ=rw" alt="Alternate Text" />
                    </div>
                    <div>
                        <span>Laptop</span>
                    </div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="img-div">
                        <img style="width: 100%; height: 56px;object-fit: cover;" src="https://lh3.googleusercontent.com/7ltR_x7umrC6a4IYEKTvsQXLAF5mQnwQhU-ClYdGyGoAqaB_zXwtn145dYrep47ZAoF8IJlz4yocnYC9dEZWPH618r4SFxiJ=rw" alt="Alternate Text" />
                    </div>
                    <div>
                        <span>Laptop</span>
                    </div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="img-div">
                        <img style="width: 100%; height: 56px;object-fit: cover;" src="https://lh3.googleusercontent.com/7ltR_x7umrC6a4IYEKTvsQXLAF5mQnwQhU-ClYdGyGoAqaB_zXwtn145dYrep47ZAoF8IJlz4yocnYC9dEZWPH618r4SFxiJ=rw" alt="Alternate Text" />
                    </div>
                    <div>
                        <span>Laptop</span>
                    </div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="img-div">
                        <img style="width: 100%; height: 56px;object-fit: cover;" src="https://lh3.googleusercontent.com/7ltR_x7umrC6a4IYEKTvsQXLAF5mQnwQhU-ClYdGyGoAqaB_zXwtn145dYrep47ZAoF8IJlz4yocnYC9dEZWPH618r4SFxiJ=rw" alt="Alternate Text" />
                    </div>
                    <div>
                        <span>Laptop</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="lisproduct">
    <div class="product-grid">

        <div class="product-card">
            <div class="product-image">
                <img src="https://via.placeholder.com/200" alt="Máy giặt Toshiba">
                <div class="savings-badge">
                    TIẾT KIỆM
                    <div class="savings-amount">2.200.000 ₫</div>
                </div>
            </div>
            <div class="brand">TOSHIBA</div>
            <div class="product-name">Máy giặt Toshiba Inverter 9.5 kg TW-BK105S3V(SK)</div>
            <div class="price">
                <div class="sale-price">7.490.000 ₫</div>
                <div class="original-price">9.700.000 ₫</div>
            </div>
            <button class="add-to-cart">Thêm vào giỏ</button>
        </div>


    </div>
</div>