<div style="width: 200px; overflow: hidden; box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1); height:100vh">
    <div style="padding: 20px;">VietTech</div>
    <div style="padding: 20px;">
        <div class="d-flex" style="padding-top: 10px;padding-bottom: 10px;">
            <a style="text-decoration:none ;  color:black;" href="#">
                <i style="margin-top: 3px;margin-right: 9px;" class="fa-solid fa-house"></i>
                <span>
                    Trang chủ
                </span>
           </a>
        </div>
        <div class="d-flex" style="padding-top: 10px;padding-bottom: 10px;">

            <a style="text-decoration:none ;   color:black;" asp-action="Index" asp-controller="Product">
                <i style="margin-top: 3px;margin-right: 9px;" class="fa-solid fa-barcode"></i>
                <span>

                    Sản phẩm
                </span>
           </a>

        </div>
        <div  class="d-flex" style="padding-top: 10px;padding-bottom: 10px;">
            <a style="text-decoration:none ;   color:black" asp-action="Index" asp-controller="Brand" >
                <i style="margin-top: 3px;margin-right: 9px;" class="fa-brands fa-font-awesome"></i>
                <span>
                   Hãng
                </span>
           </a>

        </div>
        <div class="d-flex" style="padding-top: 10px;padding-bottom: 10px;">
            <a style="text-decoration:none ;   color:black" asp-action="Index" asp-controller="Category">
                <i style="margin-top: 3px;margin-right: 9px;" class="fa-solid fa-layer-group"></i>
                <span>
                    Danh mục
                </span>
            </a>

        </div>
        <div  class="d-flex" style="padding-top: 10px;padding-bottom: 10px;">
            <a style="text-decoration:none ;   color:black" asp-action="Index" asp-controller="Orders"  >
                <i style="margin-top: 3px;margin-right: 9px;" class="fa-solid fa-boxes-stacked"></i>
                <span>
                    Đơn hàng
                </span>
           </a>

        </div>
        <div class="d-flex" style="padding-top: 10px;padding-bottom: 10px;">
            <a style="text-decoration:none ;   color:black" asp-action="Index" asp-controller="User">
                <i style="margin-top: 3px;margin-right: 9px;" class="fa-solid fa-users"></i>
                <span>
                    Khách hàng
                </span>
            </a>
        </div>
        <div  class="d-flex" style="padding-top: 10px;padding-bottom: 10px;">
            <a style="text-decoration:none ;   color:black" asp-action="Index" asp-controller="Role" >
                <i style="margin-top: 3px;margin-right: 9px;" class="fa-regular fa-id-card"></i>
                <span>
                    Quyền hạn
                </span>
           </a>

        </div>
        <div class="d-flex" style="padding-top: 10px;padding-bottom: 10px;">
            <a style="text-decoration:none;   color:black" asp-action="Index" asp-controller="Coupon" >
                <i style="margin-top: 3px;margin-right: 9px;" class="fa-solid fa-ticket"></i>
                <span>
                    Phiếu giảm giá
                </span>
           </a>

        </div>
        <div class="d-flex" style="padding-top: 10px;padding-bottom: 10px;">
            <a style="text-decoration:none;  color:black" asp-action="Index" asp-controller="Ship" >
                <i style="margin-top: 3px;margin-right: 9px;" class="fa-solid fa-truck-fast"></i>
                <span>
                    Giá ship
                </span>
           </a>

        </div>
        <div class="d-flex" style="padding-top: 10px;padding-bottom: 10px;">
            <a style="text-decoration:none;  color:black" asp-action="Index" asp-controller="Slider">
                <i style="margin-top: 3px;margin-right: 9px;" class="fa-solid fa-image"></i>
                <span>
                    Quảng cáo
                </span>
            </a>

        </div>
    </div>
    <div style="margin-top: 220px;">
        <img style="width: 181px;" src="/images/admin-img.png" alt="ảnh-mô-tả" />
    </div>

    <div style="padding: 20px;">
        <div class="d-flex" style="padding-top: 20px;padding-bottom: 20px;">
            <i style="margin-top: 3px;margin-right: 9px;" class="fa-solid fa-right-from-bracket"></i>

            <a asp-action="Logout" style=" color:black" asp-controller="Account">Đăng xuất</a>
            
        </div>
    </div>
</div>