<div class="header-top">
    <div class="header-list">
        <div class="header-items">
            <a href="#">
                <div class="d-flex list-content">
                    <i class="fa-solid fa-tag header-title"></i>
                    <div class="header-title">Khuyến mại</div>
               </div>
            </a>
            <a href="#">
                <div class="d-flex list-content" >
                    <i class="fa-solid fa-city header-title"></i>
                    <div class="header-title">Hệ thống Showroom</div>
                </div>
            </a>
            <a href="#">
                <div class="d-flex list-content">
                    <i class="fa-solid fa-briefcase header-title"></i>
                    <div class="header-title">Tư vấn doanh nghiệp</div>
                </div>
            </a>
            <a href="#">
                <div class="d-flex list-content">
                    <i class="fa-solid fa-phone header-title"></i>
                    <div class="header-title">Hotline (miễn phí): 18006867</div>
                </div>
            </a>
            <a href="#">
                <div class="d-flex list-content">
                    <i class="fa-solid fa-newspaper header-title"></i>
                    <div class="header-title">Tin công nghệ</div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="nav-search">
    <div>
        <div class="nav-list d-flex" >
            <div >
                <div class="d-flex">
                    <a href="/" >
                        <i class="fa-solid fa-house" style="margin-top:47px ; margin-right:10px"></i>
                    </a>
                    <div style="margin-top:42px ; font-size:18px" >TECHVIET</div>
                </div>
            </div>
            <div class="input-group" style="">
                <div class="input-contentsearch">
                    <input class="search-input" placeholder="Nhập từ khóa tìm kiếm" style="border: none; outline: none;" name="name" value="" />
                </div>
                <div>
                    <button style="border: none; background: none;">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>

            <div>
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    <div class="" style="width: 71px;height: 50px;margin-top: 30px;margin-left: 20px;">


                        <div style="width: 150px;"> Xin chào @User.Identity.Name</div>

                       
                        <div style="margin-top: 5px ; width:150px">
                            <a asp-action="Logout" asp-controller="Account">Đăng xuất</a>
                    </div>
                   </div>
                }
                else
                {
                    <div>
                        <a asp-controller="Account" asp-action="Login" class="d-flex" style="text-decoration:none">
                            <div style="margin-top: 45px;padding-left: 10px;">
                                <i class="fa-solid fa-circle-user" style="line-height: 20px;font-size: 30px;"></i>
                            </div>
                            <div style="margin-top:30px; width:100px;margin-left: 5px;">
                                <div>Đăng nhập</div>
                                <div>Đăng kí</div>
                            </div>
                        </a>

                    </div>
                }
            </div>
            <div style="margin-left:60px">
                <a href="#" class="d-flex" style="text-decoration:none">
                    <div style="margin-top: 45px;padding-left: 10px;">
                        <i class="fa-solid fa-cart-shopping" style="line-height: 20px;font-size: 30px;" ></i>
                    </div>
                    <div style="margin-top:30px; width:150px;margin-left: 5px;">
                        <div>Giỏ hàng của bạn</div>
                        <div>(1) sản phẩm</div>
                    </div>
                </a>
            </div>
           
        </div>
    </div>
</div>
