
<div class="header-top">
    <div class="header-list">
        <div class="header-items">
            <a href="#">
                <div class="d-flex list-content">
                    <i class="fa-solid fa-tag header-title"></i>
                    <div class="header-title">Khuyến mại</div>
                </div>
            </a>
            <a href="#">
                <div class="d-flex list-content">
                    <i class="fa-solid fa-city header-title"></i>
                    <div class="header-title">Hệ thống Showroom</div>
                </div>
            </a>
            <a href="#">
                <div class="d-flex list-content">
                    <i class="fa-solid fa-briefcase header-title"></i>
                    <div class="header-title">Tư vấn doanh nghiệp</div>
                </div>
            </a>
            <a href="#">
                <div class="d-flex list-content">
                    <i class="fa-solid fa-phone header-title"></i>
                    <div class="header-title">Hotline (miễn phí): 18006867</div>
                </div>
            </a>
            <a href="#">
                <div class="d-flex list-content">
                    <i class="fa-solid fa-newspaper header-title"></i>
                    <div class="header-title">Tin công nghệ</div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="nav-search">
    <div>
        <div class="nav-list d-flex">
            <div>
                <div class="d-flex">
                    <a href="/">
                        <i class="fa-solid fa-house" style="margin-top:47px ; margin-right:10px"></i>
                    </a>
                    <div style="margin-top:42px ; font-size:18px">TECHVIET</div>
                </div>
            </div>
            <div class="input-group" style="">
                <div class="input-contentsearch">
                    <input class="search-input" placeholder="Nhập từ khóa tìm kiếm" style="border: none; outline: none;" name="name" value="" />
                </div>
                <div>
                    <button style="border: none; background: none;">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>

            <div>
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    <div class="" style="width: 71px;height: 50px;margin-top: 30px;margin-left: 20px;">


                        <div style="width: 150px;"> Xin chào @User.Identity.Name</div>


                        <div style="margin-top: 5px ; width:150px">
                            <a asp-action="Logout" asp-controller="Account">Đăng xuất</a>
                        </div>
                    </div>
                }
                else
                {
                    <div>
                        <a asp-controller="Account" asp-action="Login" class="d-flex" style="text-decoration:none">
                            <div style="margin-top: 45px;padding-left: 10px;">
                                <i class="fa-solid fa-circle-user" style="line-height: 20px;font-size: 30px;"></i>
                            </div>
                            <div style="margin-top:30px; width:100px;margin-left: 5px;">
                                <div>Đăng nhập</div>
                                <div>Đăng kí</div>
                            </div>
                        </a>

                    </div>
                }
            </div>
            <div style="margin-left:90px">
                <a href="#" class="d-flex" style="text-decoration:none">
                    <div style="position: relative; display: inline-block;  margin-top:45px">
                        <i class="fa-solid fa-cart-shopping" style="font-size: 30px;"></i>
                        <div style="
                           position: absolute;
                           top: -5px;
                           right: -5px;
                           border-radius: 50%;
                           background: red;
                           width: 20px;
                           height: 20px;
                           text-align: center;
                           color: white;
                           font-size: 12px;
                           line-height: 20px;
                           font-weight: bold;
    ">
                            0
                        </div>
                    </div>

                    <div style="margin-top:45px; width:100px;margin-left: 5px;">
                        <span>Giỏ hàng</span>
                    </div>
                </a>
            </div>
             <div style="margin-top:40px"> 
                 @if (User.Identity?.IsAuthenticated ?? false){
                    <a asp-action="Wishlist" asp-controller="Home">
                        <div style="width:100px; margin-top:7px">
                            <i class="fa-solid fa-heart" style="color: red;"></i>
                          <span>Yêu thích</span>
                      </div>
                    </a> 
               } 
            </div>
        </div>
    </div>
</div>
