<div style="width: 200px;  min-height:500px">
    <div style="padding: 20px;">
        <div  style="padding-top: 10px;padding-bottom: 10px;">
            <a style="text-decoration:none ;  color:black;" href="#">
                <i style="margin-top: 3px;margin-right: 9px;" class="fa-solid fa-user"></i>
                <span>
                    Sửa hồ sơ
                </span>
            </a>
        </div>
        <div  style="padding-top: 10px;padding-bottom: 10px;">
            <a style="text-decoration:none ;  color:black;" href="#">
                <i style="margin-top: 3px;margin-right: 9px;" class="fa-solid fa-boxes-stacked"></i>
                <span>
                    Đơn hàng
                </span>
            </a>
        </div>

</div>
</div>