
<div class="header-top">
    <div class="header-list">
        <div class="header-items">
            <a href="#">
                <div class="d-flex list-content">
                    <i class="fa-solid fa-tag header-title"></i>
                    <div class="header-title">Khuyến mại</div>
                </div>
            </a>
            <a href="#">
                <div class="d-flex list-content">
                    <i class="fa-solid fa-city header-title"></i>
                    <div class="header-title">Hệ thống Showroom</div>
                </div>
            </a>
            <a href="#">
                <div class="d-flex list-content">
                    <i class="fa-solid fa-briefcase header-title"></i>
                    <div class="header-title">Tư vấn doanh nghiệp</div>
                </div>
            </a>
            <a href="#">
                <div class="d-flex list-content">
                    <i class="fa-solid fa-phone header-title"></i>
                    <div class="header-title">Hotline (miễn phí): 18006867</div>
                </div>
            </a>
            <a asp-action="Index" asp-controller="Blog">
                <div class="d-flex list-content">
                    <i class="fa-solid fa-newspaper header-title"></i>
                    <div class="header-title">Tin công nghệ</div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="nav-search">
    <div>
        <div class="nav-list d-flex">
            <div>
                <div class="d-flex">
                    <a href="/">
                        <img src="~/images/logo.jpg" style="width: 100px" />
                    </a>

                </div>
            </div>
            <form asp-action="Search" asp-controller="Product" method="post" style="display: flex; align-items: center; justify-content: center; width: 100%; max-width: 500px; margin: 0 auto;">
                <div class="input-group" style="display: flex; align-items: center; width: 100%; border: 1px solid #ddd; border-radius: 25px; overflow: hidden; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
                    <div class="input-contentsearch" style="flex: 1;">
                        <input placeholder="Nhập từ khóa tìm kiếm"
                               style="width: 100%; padding: 10px 15px; border: none; outline: none; font-size: 16px; color: #333; background: transparent;" name="searchTerm" />
                    </div>
                    <div>
                        <button type="submit"
                                style="border: none; background: none; padding: 10px 15px; cursor: pointer; display: flex; align-items: center; justify-content: center;">
                            <i class="fa-solid fa-magnifying-glass" style="font-size: 18px; color: #555;"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div>
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    <div>
                        <div style="width: 150px; margin-top: 40px; margin-left: 20px;">
                            <a asp-action="AccountInfomation" asp-controller="Account" style="cursor: pointer;">
                                Xin chào, @User.Identity.Name
                            </a>
                        </div>
                    </div>
                }
                else
                {
                    <div>
                        <a asp-controller="Account" asp-action="Login" class="d-flex" style="text-decoration:none">
                            <div style="margin-top: 45px;padding-left: 10px;">
                                <i class="fa-solid fa-circle-user" style="line-height: 20px;font-size: 30px;"></i>
                            </div>
                            <div style="margin-top:30px; width:100px;margin-left: 5px;">
                                <div>Đăng nhập</div>
                                <div>Đăng kí</div>
                            </div>
                        </a>

                    </div>
                }
            </div>
            <div style="margin-left:50px">
                <a asp-action="Index" asp-controller="Cart" class="d-flex" style="text-decoration:none">
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <div style="position: relative; display: inline-block;  margin-top:45px">
                            <i class="fa-solid fa-cart-shopping" style="font-size: 30px;"></i>
                            <div style="
                           position: absolute;
                           top: -5px;
                           right: -5px;
                           border-radius: 50%;
                           background: red;
                           width: 20px;
                           height: 20px;
                           text-align: center;
                           color: white;
                           font-size: 12px;
                           line-height: 20px;
                           font-weight: bold;
                ">
                                <span style="color: white">@ViewBag.CartItemCount</span>
                            </div>
                        </div>
                        <div style="margin-top:45px; width:100px;margin-left: 5px;">
                            <span asp-contr>Giỏ hàng</span>
                        </div>
                    }


                </a>
            </div>
            <div style="margin-top:40px">
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    <a asp-action="Wishlist" asp-controller="Home">
                        <div style="width:100px; margin-top:7px">
                            <i class="fa-solid fa-heart" style="color: red;"></i>
                            <span>Yêu thích</span>
                        </div>
                    </a>
                }

            </div>
        </div>
    </div>
</div>
